<!DOCTYPE html>
  <html>
    <head>
        <link rel="stylesheet" href="stylesheet.css" type="text/css" />
    </head>
  <body>
    <div id='play'>
    <center>
      <p><%= @game.player.name %> vs. Computer</p>
      <form action = "/choice" method="post">
        <input name="choice" value="rock" type="radio" id="rock" checked="checked"> rock <br/>
        <input name="choice" value="paper" type="radio" id="paper" > paper <br/>
        <input name="choice" value="scissors" type="radio" id="scissors" > scissors <br/>
        <br/>
        <button>continue</button>
      </form>
    </div>
  </body>
</html>


